<!-- HEADER -->
<div id="header_wrap" class="outer">
  <header class="inner">
    <div>
      <a href="tree">jstree</a>
      <a href="treeselect">treeselect</a>
    </div>
  </header>
</div>
<div style="margin:10px;"></div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    <script type="text/javascript">
      $(function() {
        $('#examples').tabs();
      });
    </script>

    <div id="examples">
      <ul>
	<li><a href="/x_treeselect.html"><span>Tree Select</span></a></li>
	<li><a href="/x_treesearch.html"><span>Tree Search</span></a></li>
      </ul>
    </div>
  </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
  </footer>
</div>
